:root {
  --dark-color-fg: #3598b9;
  --dark-bg-color: #202020;
  --dark-color-brand: #fa465b;
  --dark-color-bg-body: #000000;
  --dark-color-bg-code: #ffffff22;
  --dark-color-bg-box: #111111;
  --dark-color-bg-box-warning: #312b00;
  --dark-color-bg-box-danger: #4c0000;
  --dark-color-bg-box-default: #232323;
  --dark-color-active-fg: #fa465b;
  --dark-color-fg-passive: #111111;
  --dark-color-fg-code: #fa465b;
  --dark-color-bg-box-info: #001c78;
  --dark-color-bg-box-tip: #003600;
  --dark-color-border: #222222;

  --light-bg-color: #ebebeb;
  --light-color-fg: #3598b9;
  --light-color-brand: #fa465b;
  --light-color-bg-body: #000000;
  --light-color-bg-code: #ffffff22;
  --light-color-bg-box: #111111;
  --light-color-bg-box-warning: #312b00;
  --light-color-bg-box-danger: #4c0000;
  --light-color-bg-box-default: #232323;
  --light-color-active-fg: #fa465b;
  --light-color-fg-passive: #111111;
  --light-color-fg-code: #fa465b;
  --light-color-bg-box-info: #001c78;
  --light-color-bg-box-tip: #003600;
  --light-color-border: #222222;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:wght@400;500;600;700&display=swap");

a {
  color: #fa6b7c;
}

a:hover {
  color: #f9465b;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
a {
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-weight: 700;
}

img.mouseless:is(.logo) {
  height: 50px;
}
